<!-- <p>stepper-form works!</p>
<mat-horizontal-stepper>
  <mat-step label="pageOne">
    Page One
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let control of formConfig?.pageOne.controls">
        <label *ngIf="control.type!=='button'">{{control.label}}</label>
        <div *ngIf="control.type === 'text'">
          <input
            [type]="control.type"
            [formControlName]="control.name"
            [value]="control.value"
            appFieldValidation
                  [fieldInput]="statusPass(control.name)"
                [errorMsg]="errorMsgPass(control)"
                [name]="control.name"
          />
        </div>
        <div>
          <p [ngStyle]="{'color':'red','margin':'auto'}" [id]="control.name"></p>
        </div>

        <br />
      </div>
          <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step label="pageTwo">
    Page One
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let control of formConfig?.pageTwo.controls">
        <label *ngIf="control.type!=='button'">{{control.label}}</label>
        <div *ngIf="control.type === 'text'">
          <input
            [type]="control.type"
            [formControlName]="control.name"
            [value]="control.value"
            appFieldValidation
                  [fieldInput]="statusPass(control.name)"
                [errorMsg]="errorMsgPass(control)"
                [name]="control.name"
          />
          <div>
            <p [ngStyle]="{'color':'red','margin':'auto'}" [id]="control.name"></p>
          </div>
        </div>

        <br />
        <div *ngIf="control.type === 'button'">
          <div *ngIf="control.label==='Previous';else elseBlock">
          <button mat-button matStepperPrevious>{{control.label}}</button>
          </div>
          <ng-template #elseBlock>
          <button mat-button matStepperNext>{{control.label}}</button>
          </ng-template>  
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step label="pageThree">
    Page One
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let control of formConfig?.pageThree.controls">
        <label *ngIf="control.type!=='button'">{{control.label}}</label>
        <div *ngIf="control.type === 'text'">
          <input
            [type]="control.type"
            [formControlName]="control.name"
            [value]="control.value"
            appFieldValidation
                  [fieldInput]="statusPass(control.name)"
                [errorMsg]="errorMsgPass(control)"
                [name]="control.name"
          />
          <div>
            <p [ngStyle]="{'color':'red','margin':'auto'}" [id]="control.name"></p>
          </div>
        </div>

        <br />
        <div *ngIf="control.type === 'button'">
          <div [ngSwitch]="control.label">
            <div *ngSwitchCase="'Previous'">
          <button mat-button matStepperPrevious>{{control.label}}</button>
            </div>
            <div *ngSwitchCase="'Next'">
            <button mat-button matStepperNext>{{control.label}}</button>
            </div>
            <div *ngSwitchDefault>
              <button type="submit" [disabled]="myForm.invalid">{{control.label}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper> -->

<!-- {{formConfig.id[0]|json}} -->
<!-- {{formConfig?.pageOne.controls|json}} -->

<!-- <mat-horizontal-stepper>
  <ng-container *ngFor="let item of id">
{{formConfig[item].controls|json}}
    <div *ngFor="let control of formConfig[id].controls">
      {{control|json}}
    </div>
  </ng-container>
</mat-horizontal-stepper> -->

<!-- <div *ngFor="let i of id">
  <div *ngFor="let control of formConfig[i].controls">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <label *ngIf="control.type !== 'button'">{{ control.label }}</label>
      <div *ngIf="control.type === 'text'">
        <input
          [type]="control.type"
          [formControlName]="control.name"
          [value]="control.value"
          appFieldValidation
          [fieldInput]="statusPass(control.name)"
          [errorMsg]="errorMsgPass(control)"
          [name]="control.name"
        />
      </div>
    </form>
  </div>
</div> -->


{{id|json}}
<mat-horizontal-stepper [linear]="isLinear">
  <div *ngFor="let i of id">
    <mat-step [stepControl]="stateName[i]">
      {{stateName[i]}}
      <div *ngFor="let control of formConfig[i].controls">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <label *ngIf="control.type !== 'button'">{{ control.label }}</label>
          <div *ngIf="control.type === 'text'">
            <input
              [type]="control.type"
              [formControlName]="control.name"
              [value]="control.value"
              appFieldValidation
              [fieldInput]="statusPass(control.name)"
              [errorMsg]="errorMsgPass(control)"
              [stepperState]="stateName"
              [stepperName]="i"
              [name]="control.name"
            />
            {{myForm.get(control.name)?.hasError('pattern')}}-{{control.state}}
          </div>
          <div>
            <p [ngStyle]="{'color':'red','margin':'auto'}" [id]="control.name"></p>
          </div>
          <div *ngIf="control.type === 'button'">
            <div [ngSwitch]="control.label">
              <div *ngSwitchCase="'Previous'">
            <button mat-button matStepperPrevious type="button">{{control.label}}</button>
              </div>
              <div *ngSwitchCase="'Next'">
              <button mat-button matStepperNext type="button">{{control.label}}</button>
              </div>
              <div *ngSwitchDefault>
                <button type="submit" [disabled]="myForm.invalid" type="button" (click)="onSubmit">{{control.label}}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-step>
  </div>
</mat-horizontal-stepper>

{{myForm.value|json}}