<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let control of myFormData?.controls">
    <label>{{
      control.validators.required && control.type !== "button"
        ? control.label + "*"
        : control.label
    }}</label>
    <div *ngIf="control.type === 'text'">
      <input
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
      />
    </div>
    <div *ngIf="control.type === 'dropdown'">
      <select
        [formControlName]="control.name"
        (change)="onDropdownChange($event, control.name)"
      >
        <option *ngFor="let option of control.options" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
      <br />
      <div *ngIf="selectedValue">
        <div *ngFor="let control of myFormData?.additionalDetails">
          <div *ngIf="selectedValue === 'aadhar'">
            <div *ngFor="let ele of control.aadhar">
              <div
                *ngIf="
                  ele.name === selectedValue
                "
              >
                <label>{{
                  ele.validators.required ? ele.label + "*" : ele.label
                }}</label>

                <br />
                <input
                  [type]="ele.type"
                  [formControlName]="ele.name"
                  [value]="ele.value"
                />
              </div>
            </div>
          </div>
          <div *ngIf="selectedValue === 'dl'">
            <div *ngFor="let ele of control.dl">
              <div
                *ngIf="
                  ele.name ===selectedValue 
                "
              >
                <label>{{
                  ele.validators.required ? ele.label + "*" : ele.label
                }}</label>

                <br />
                <input
                  [type]="ele.type"
                  [formControlName]="ele.name"
                  [value]="ele.value"
                />
              </div>
            </div>
          </div>
          <div *ngIf="selectedValue === 'others'">
            <div *ngIf="control.name === 'Private Id'">
              <label>{{
                control.validators.required
                  ? control.label + "*"
                  : control.label
              }}</label>
              <select
                [formControlName]="control.name"
                (change)="onOthersDropdownChange($event, control.name)"
              >
                <option
                  *ngFor="let option of control.options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </option>
              </select>
              <div *ngIf="myForm.value['Private Id'] === 'school'">
                <label>{{
                  control.validators.required
                    ? control.school.label + "*"
                    : control.school.label
                }}</label>
                <br />
                <input
                  [type]="control.school.type"
                  [formControlName]="control.school.name"
                  [value]="control.school.value"
                />
              </div>
              <div *ngIf="myForm.value['Private Id'] === 'clg'">
                <label>{{
                  control.validators.required
                    ? control.clg.label + "*"
                    : control.clg.label
                }}</label
                ><br />
                <input
                  [type]="control.clg.type"
                  [formControlName]="control.clg.name"
                  [value]="control.clg.value"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <div *ngIf="control.type === 'button'">
      <button type="submit" [disabled]="myForm.invalid">Submit</button>
    </div>
  </div>
</form>
