<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let control of myFormData?.controls">
    <label>{{
      control.validators.required && control.type !== "button"
        ? control.label + "*"
        : control.label
    }}</label>
    <div *ngIf="control.type === 'text'">
      <input
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
        appFieldValidation
        [fieldInput]="statusPass(control.name)"
        [errorMsg]="errorMsgPass(control)"
        [name]="control.name"
      />
      <div>
        <p [ngStyle]="{ color: 'red', margin: 'auto' }" id="firstName"></p>
        <!-- <app-error-display *ngIf="control.error" [ngStyle]="{'color':'red'}" [msg]="control.msg"></app-error-display> -->
      </div>
      <!-- <div *ngIf="myForm.get(control.name)?.hasError('required')" [ngStyle]="{'color':'red'}">
        {{ control.label }} is required.
      </div>
      <div *ngIf="myForm.get(control.name)?.hasError('pattern')" [ngStyle]="{'color':'red'}">
        {{control.validators.patternMsg}}
      </div> -->
    </div>
    <div *ngIf="control.type === 'dropdown'">
      <select
        [formControlName]="control.name"
        (change)="onDropdownChange($event, control.name)"
        appFieldValidation
        [fieldInput]="statusPass(control.name)"
        [errorMsg]="errorMsgPass(control)"
        [name]="control.name"
      >
        <option *ngFor="let option of control.options" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
      <p [ngStyle]="{ color: 'red', margin: 'auto' }" [id]="control.name"></p>
      <br />
      <div *ngIf="selectedValue">
        <div *ngFor="let control of myFormData?.additionalDetails">
          <div *ngIf="selectedValue">
            <div *ngFor="let ele of getAdditionalDetails(control)">
              <div *ngIf="ele.type === 'text'">
                <label>{{
                  ele.validators.required ? ele.label + "*" : ele.label
                }}</label>
                <br />
                <input
                  [type]="ele.type"
                  [formControlName]="ele.name"
                  [value]="ele.value"
                  appFieldValidation
                  [fieldInput]="statusPass(ele.name)"
                  [errorMsg]="errorMsgPass(ele)"
                  [name]="ele.name"
                />
                <!-- <div *ngIf="myForm.get(ele.name)?.hasError('required')" [ngStyle]="{'color':'red'}">
                  {{ ele.name }} is required.
                </div> -->
                <p
                  [ngStyle]="{ color: 'red', margin: 'auto' }"
                  [id]="ele.name"
                ></p>
              </div>
              <div *ngIf="ele.type === 'dropdown'">
                <label>{{
                  ele.validators.required ? ele.label + "*" : ele.label
                }}</label>
                <select
                  [formControlName]="ele.name"
                  (change)="onOthersDropdownChange($event, ele.name)"
                  appFieldValidation
                  [fieldInput]="statusPass(ele.name)"
                  [errorMsg]="errorMsgPass(ele)"
                  [name]="ele.name"
                >
                  <option
                    *ngFor="let option of ele.options"
                    [value]="option.value"
                  >
                    {{ option.label }}
                  </option>
                </select>
                <!-- <div *ngIf="myForm.get(ele.name)?.hasError('required')" [ngStyle]="{'color':'red'}">
                  {{ ele.name }} is required.
                </div> -->
                <p
                  [ngStyle]="{ color: 'red', margin: 'auto' }"
                  [id]="ele.name"
                ></p>
                <div *ngFor="let item of ele | keyvalue">
                  <div *ngIf="item.key === idProof">
                    <div
                      *ngFor="
                        let val of getAdditionalDetails(item.value, idProof)
                      "
                    >
                      <div *ngIf="val.type === 'text'">
                        <label>{{
                          val.validators.required ? val.label + "*" : val.label
                        }}</label>
                        <br />
                        <input
                          [type]="val.type"
                          [formControlName]="val.name"
                          [value]="val.value"
                          appFieldValidation
                          [fieldInput]="statusPass(val.name)"
                          [errorMsg]="errorMsgPass(val)"
                          [name]="val.name"
                        />
                        <!-- <div *ngIf="myForm.get(val.name)?.hasError('required')" [ngStyle]="{'color':'red'}">
                          {{ val.label }} is required.
                        </div> -->
                        <p
                          [ngStyle]="{ color: 'red', margin: 'auto' }"
                          [id]="val.name"
                        ></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="myForm.get(control.name)?.hasError('required')" [ngStyle]="{'color':'red'}">
        {{ control.name }} is required.
      </div> -->
      <p [ngStyle]="{ color: 'red', margin: 'auto' }" [id]="control.name"></p>
    </div>

    <br />
    <div *ngIf="control.type === 'button'">
      <button type="submit">Submit</button>{{ myForm.valid }}
    </div>
  </div>
</form>
